# Archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Directorio de dependencias
/node_modules

# Archivos de compilación
/dist
/build

# Archivos de configuración local
.env

# Logs y archivos temporales
*.log
*.tmp

# Archivos de respaldo
*.bak
*.swp

# Archivos de caché
.cache

# Archivos de IDE
.idea
.vscode
# Archivos de configuración de Visual Studio Code
.vscode


# Modulos de Node.js
node_modules
```